<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217926263290-bf7jk7gvbrpesj4q31fb091laljmhom6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217926263290-bf7jk7gvbrpesj4q31fb091laljmhom6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>217926263290-shu7r06s9pvd3navd9n1pah2qr402lh4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9DOjTAZyvHYmdthHTfV2OaLC7wV9kvPs</string>
	<key>GCM_SENDER_ID</key>
	<string>217926263290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.ntnu.mobiledevelopement.group11.kindermanager</string>
	<key>PROJECT_ID</key>
	<string>kindermanager-61b43</string>
	<key>STORAGE_BUCKET</key>
	<string>kindermanager-61b43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217926263290:ios:13b1c99a444dd21f2b4443</string>
</dict>
</plist>